absl-py==0.15.0
accelerate==1.0.1
aiohttp==3.8.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
attrs==25.1.0
autocommand==2.2.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bandit==1.7.10
bcrypt==4.3.0
beautifulsoup4==4.11.1
bert-score==0.3.13
black==24.8.0
bleach==5.0.1
blinker==1.8.2
boto3==1.37.4
botocore==1.37.4
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.7
cheroot==8.6.0
CherryPy==18.6.1
click==8.1.8
cliffs-delta==1.0.0
cluster==1.4.1.post3
cohere==5.13.2
colorama==0.4.6
coverage==7.6.1
cryptography==44.0.2
cycler==0.11.0
cymem==2.0.6
Cython==0.29.25
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dashscope==1.22.1
datasets==3.1.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.8
Distance==0.1.3
distro==1.9.0
Django==4.2.19
dotenv==0.9.9
dpu-utils==0.6.1
early-stopping==0.1.3
emoji==2.2.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.0
executing==1.1.0
fastavro==1.9.7
fastjsonschema==2.16.2
fasttext==0.9.2
filelock==3.8.0
fire==0.4.0
Flask==3.0.3
flatbuffers==2.0
fonttools==4.37.1
frozenlist==1.4.0
fsspec==2024.9.0
gast==0.5.2
gensim==3.8.3
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
grpcio @ file:///Users/Downloads/M1%E8%BD%AF%E4%BB%B6/tensorflow_macos/arm64/grpcio-1.33.2-cp38-cp38-macosx_11_0_arm64.whl
h11==0.14.0
h5py @ file:///Users/Downloads/M1%E8%BD%AF%E4%BB%B6/tensorflow_macos/arm64/h5py-2.10.0-cp38-cp38-macosx_11_0_arm64.whl
hanlp==2.1.0b42
hanlp-common==0.0.18
hanlp-downloader==0.0.25
hanlp-trie==0.0.5
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.0
hypofuzz==24.9.1
hypothesis==6.113.0
idna==3.3
importlib-metadata==5.0.0
importlib-resources==5.10.0
inflect==6.0.0
iniconfig==2.0.0
ipykernel==6.17.1
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.2.0
jaraco.classes==3.2.2
jaraco.collections==3.5.2
jaraco.context==4.1.2
jaraco.functools==3.5.1
jaraco.text==3.9.1
jarowinkler==1.1.0
javalang==0.13.0
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.2
jiter==0.8.2
jmespath==1.0.1
joblib==1.1.0
jsonlines==3.1.0
jsonschema==4.17.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.2
jupyter_client==7.4.6
jupyter_core==5.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jwcrypto==1.5.6
keras==2.7.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.4
ldap3==2.9.1
Levenshtein @ file:///Users/Downloads/Levenshtein-0.18.2-cp38-cp38-macosx_11_0_arm64.whl
libcst==1.1.0
lxml==4.9.1
Markdown==3.3.4
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
more-itertools==8.14.0
MouseInfo==0.1.3
multidict==6.0.4
multiprocess==0.70.16
mxnet==1.6.0
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
narwhals==1.27.1
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
ninja==1.10.2.3
nlg-eval @ git+https://github.com/Maluuba/nlg-eval.git@685fa19d26a61ae5d3712c8c0f553fe0da2682f1
nltk==3.6.6
notebook==6.5.2
notebook_shim==0.2.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145439860/work
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openai==1.64.0
openpyxl @ file:///Users/Downloads/openpyxl-3.0.9-py2.py3-none-any.whl
opt-einsum==3.3.0
outcome==1.2.0
packaging==24.2
pandas==1.4.4
pandocfilters==1.5.0
parameterized==0.9.0
parso==0.8.3
pathspec==0.12.1
patsy==0.5.3
pbr==6.1.1
pexpect==4.8.0
phrasetree==0.0.8
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.4
plotly==6.0.0
pluggy==1.5.0
portalocker==2.8.2
portend==3.1.0
prometheus-client==0.15.0
prompt-toolkit==3.0.31
protobuf==4.25.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pybind11==2.10.0
pycocoevalcap==1.2
pycparser==2.21
pydantic==1.10.2
pydantic_core==2.27.2
pygal==3.0.0
pygal-maps-world==1.0.2
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.13.0
PyJWT==2.9.0
PyMsgBox==1.0.9
pynvml==11.4.1
pyobjc==10.0
pyobjc-core==10.0
pyobjc-framework-Accessibility==10.0
pyobjc-framework-Accounts==10.0
pyobjc-framework-AddressBook==10.0
pyobjc-framework-AdServices==10.0
pyobjc-framework-AdSupport==10.0
pyobjc-framework-AppleScriptKit==10.0
pyobjc-framework-AppleScriptObjC==10.0
pyobjc-framework-ApplicationServices==10.0
pyobjc-framework-AppTrackingTransparency==10.0
pyobjc-framework-AudioVideoBridging==10.0
pyobjc-framework-AuthenticationServices==10.0
pyobjc-framework-AutomaticAssessmentConfiguration==10.0
pyobjc-framework-Automator==10.0
pyobjc-framework-AVFoundation==10.0
pyobjc-framework-AVKit==10.0
pyobjc-framework-AVRouting==10.0
pyobjc-framework-BackgroundAssets==10.0
pyobjc-framework-BusinessChat==10.0
pyobjc-framework-CalendarStore==10.0
pyobjc-framework-CallKit==10.0
pyobjc-framework-CFNetwork==10.0
pyobjc-framework-ClassKit==10.0
pyobjc-framework-CloudKit==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-Collaboration==10.0
pyobjc-framework-ColorSync==10.0
pyobjc-framework-Contacts==10.0
pyobjc-framework-ContactsUI==10.0
pyobjc-framework-CoreAudio==10.0
pyobjc-framework-CoreAudioKit==10.0
pyobjc-framework-CoreBluetooth==10.0
pyobjc-framework-CoreData==10.0
pyobjc-framework-CoreHaptics==10.0
pyobjc-framework-CoreLocation==10.0
pyobjc-framework-CoreMedia==10.0
pyobjc-framework-CoreMediaIO==10.0
pyobjc-framework-CoreMIDI==10.0
pyobjc-framework-CoreML==10.0
pyobjc-framework-CoreMotion==10.0
pyobjc-framework-CoreServices==10.0
pyobjc-framework-CoreSpotlight==10.0
pyobjc-framework-CoreText==10.0
pyobjc-framework-CoreWLAN==10.0
pyobjc-framework-CryptoTokenKit==10.0
pyobjc-framework-DataDetection==10.0
pyobjc-framework-DeviceCheck==10.0
pyobjc-framework-DictionaryServices==10.0
pyobjc-framework-DiscRecording==10.0
pyobjc-framework-DiscRecordingUI==10.0
pyobjc-framework-DiskArbitration==10.0
pyobjc-framework-DVDPlayback==10.0
pyobjc-framework-EventKit==10.0
pyobjc-framework-ExceptionHandling==10.0
pyobjc-framework-ExecutionPolicy==10.0
pyobjc-framework-ExtensionKit==10.0
pyobjc-framework-ExternalAccessory==10.0
pyobjc-framework-FileProvider==10.0
pyobjc-framework-FileProviderUI==10.0
pyobjc-framework-FinderSync==10.0
pyobjc-framework-FSEvents==10.0
pyobjc-framework-GameCenter==10.0
pyobjc-framework-GameController==10.0
pyobjc-framework-GameKit==10.0
pyobjc-framework-GameplayKit==10.0
pyobjc-framework-HealthKit==10.0
pyobjc-framework-ImageCaptureCore==10.0
pyobjc-framework-InputMethodKit==10.0
pyobjc-framework-InstallerPlugins==10.0
pyobjc-framework-InstantMessage==10.0
pyobjc-framework-Intents==10.0
pyobjc-framework-IntentsUI==10.0
pyobjc-framework-IOBluetooth==10.0
pyobjc-framework-IOBluetoothUI==10.0
pyobjc-framework-IOSurface==10.0
pyobjc-framework-iTunesLibrary==10.0
pyobjc-framework-KernelManagement==10.0
pyobjc-framework-LatentSemanticMapping==10.0
pyobjc-framework-LaunchServices==10.0
pyobjc-framework-libdispatch==10.0
pyobjc-framework-libxpc==10.0
pyobjc-framework-LinkPresentation==10.0
pyobjc-framework-LocalAuthentication==10.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.0
pyobjc-framework-MailKit==10.0
pyobjc-framework-MapKit==10.0
pyobjc-framework-MediaAccessibility==10.0
pyobjc-framework-MediaLibrary==10.0
pyobjc-framework-MediaPlayer==10.0
pyobjc-framework-MediaToolbox==10.0
pyobjc-framework-Metal==10.0
pyobjc-framework-MetalFX==10.0
pyobjc-framework-MetalKit==10.0
pyobjc-framework-MetalPerformanceShaders==10.0
pyobjc-framework-MetalPerformanceShadersGraph==10.0
pyobjc-framework-MetricKit==10.0
pyobjc-framework-MLCompute==10.0
pyobjc-framework-ModelIO==10.0
pyobjc-framework-MultipeerConnectivity==10.0
pyobjc-framework-NaturalLanguage==10.0
pyobjc-framework-NetFS==10.0
pyobjc-framework-Network==10.0
pyobjc-framework-NetworkExtension==10.0
pyobjc-framework-NotificationCenter==10.0
pyobjc-framework-OpenDirectory==10.0
pyobjc-framework-OSAKit==10.0
pyobjc-framework-OSLog==10.0
pyobjc-framework-PassKit==10.0
pyobjc-framework-PencilKit==10.0
pyobjc-framework-PHASE==10.0
pyobjc-framework-Photos==10.0
pyobjc-framework-PhotosUI==10.0
pyobjc-framework-PreferencePanes==10.0
pyobjc-framework-PushKit==10.0
pyobjc-framework-Quartz==10.0
pyobjc-framework-QuickLookThumbnailing==10.0
pyobjc-framework-ReplayKit==10.0
pyobjc-framework-SafariServices==10.0
pyobjc-framework-SafetyKit==10.0
pyobjc-framework-SceneKit==10.0
pyobjc-framework-ScreenCaptureKit==10.0
pyobjc-framework-ScreenSaver==10.0
pyobjc-framework-ScreenTime==10.0
pyobjc-framework-ScriptingBridge==10.0
pyobjc-framework-SearchKit==10.0
pyobjc-framework-Security==10.0
pyobjc-framework-SecurityFoundation==10.0
pyobjc-framework-SecurityInterface==10.0
pyobjc-framework-ServiceManagement==10.0
pyobjc-framework-SharedWithYou==10.0
pyobjc-framework-SharedWithYouCore==10.0
pyobjc-framework-ShazamKit==10.0
pyobjc-framework-Social==10.0
pyobjc-framework-SoundAnalysis==10.0
pyobjc-framework-Speech==10.0
pyobjc-framework-SpriteKit==10.0
pyobjc-framework-StoreKit==10.0
pyobjc-framework-SyncServices==10.0
pyobjc-framework-SystemConfiguration==10.0
pyobjc-framework-SystemExtensions==10.0
pyobjc-framework-ThreadNetwork==10.0
pyobjc-framework-UniformTypeIdentifiers==10.0
pyobjc-framework-UserNotifications==10.0
pyobjc-framework-UserNotificationsUI==10.0
pyobjc-framework-VideoSubscriberAccount==10.0
pyobjc-framework-VideoToolbox==10.0
pyobjc-framework-Virtualization==10.0
pyobjc-framework-Vision==10.0
pyobjc-framework-WebKit==10.0
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.2
PyScreeze==0.1.30
PySocks==1.7.1
pytest==8.3.4
python-afl==0.7.3
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-jwt==4.1.0
python-ldap==3.4.4
python2==1.2
pytweening==1.2.0
pytz==2022.2.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
rapidfuzz==2.1.2
regex @ file:///Users/Downloads/regex-2021.11.10-cp38-cp38-macosx_12_0_arm64.whl
requests==2.32.3
requests-oauthlib==1.3.0
retrying==1.3.4
rich==13.9.4
rouge==1.0.1
rsa==4.7.2
rubicon-objc==0.4.9
s3transfer==0.11.3
sacrebleu==2.4.0
safetensors==0.5.3
schedule==1.2.2
scikit-learn==1.1.2
scipy==1.7.3
seaborn==0.12.1
selenium==4.5.0
Send2Trash==1.8.0
sentencepiece==0.1.97
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.5.3
stack-data==0.5.1
stanza==1.4.2
statsmodels==0.13.5
stevedore==5.3.0
tabulate==0.9.0
tempora==5.0.2
tensorboard==2.7.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.0
tensorflow @ file:///Users/Downloads/M1%E8%BD%AF%E4%BB%B6/tensorflow_macos/arm64/tensorflow_macos-0.1a1-cp38-cp38-macosx_11_0_arm64.whl
tensorflow-addons @ file:///Users/Downloads/M1%E8%BD%AF%E4%BB%B6/tensorflow_macos/arm64/tensorflow_addons-0.11.2%2Bmlcompute-cp38-cp38-macosx_11_0_arm64.whl
tensorflow-estimator==2.7.0
termcolor==1.1.0
terminado==0.17.0
Theano==1.0.5
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.20.3
tomli==2.2.1
toposort==1.5
torch==1.10.0
torch-cluster==1.6.0
torch-geometric==2.2.0
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchaudio==0.9.1
torchvision==0.10.0
tornado==6.2
tqdm==4.67.1
traitlets==5.4.0
transformers==4.46.3
trio==0.22.0
trio-websocket==0.9.2
typeguard==2.13.0
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==1.26.20
validators==0.34.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==3.0.6
widgetsnbextension==4.0.3
wrapt==1.13.3
wsproto==1.2.0
xdg==5.1.1
xgboost @ file:///Users/Downloads/xgboost-1.6.1-py3-none-macosx_12_0_arm64.whl
xlrd==2.0.1
XlsxWriter==3.0.8
xlwt==1.3.0
xxhash==3.5.0
yarl==1.9.2
zc.lockfile==2.0
zipp==3.10.0
